.flashcardsApp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: "Jersey 15", sans-serif;
    /* Background image */
  background-image: url('/public/images/background_notebook.png'); /* replace with your image path */
  background-size: cover;      /* makes the image cover the whole div */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;/* prevents tiling */
}

/* HEADER WRAPPER */
.headerWrapper {
  width: 80%;
  max-width: 900px;
  margin-bottom: 20px;
}

/* PURPLE TOP */
.headerTop {
  background: #efd9ff;
  padding: 18px;
  border-radius: 25px 25px 0 0;
  text-align: center;
}

.headerTop h1 {
  font-weight: normal;
  font-size: 26px;
  margin: 0;
}

/* WHITE BODY */
.headerBody {
  background: #ffffff;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.headerBody p {
  font-weight: normal;
  font-size: 15px;
  color: black;
  margin-bottom: 18px;
}

/* START BUTTON */
.startBtn {
  background: #dba8ff;
  border: none;
  padding: 8px 26px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: normal;
}

/* FLASHCARD SECTION */
.flashcardWrapper {
  background: #eeeeee;
  width: 80%;
  max-width: 900px;
  height: 300px;
  border-radius: 30px;
  padding: 30px 30px 70px;
  position: relative;
}

/* TABS */
.tab {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.tab span {
  background-image: url('../images/notebook line.png');
  width: 80px;
  padding: 6px 20px;
  border-radius: 13px 13px 0 0;
  text-align: center;
  font-size: 14px;
  border-bottom: 3px solid #dba8ff;
  cursor: pointer;
}

.active {
  width: 100px;
  border-bottom: 3px solid #dba8ff;
}

.flashcard {
    height: 100%;          /* fits inside wrapper */
    perspective: 1000px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers card vertically */
}

.flashcardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
}
/* FLIPPED STATE */
.flipped .flashcardInner {
  transform: rotateY(180deg);
}

/* CARD FACES */
.flashcardFace {
  position: absolute;
  width: 88.5%;
  height: 65%;
  padding: 50px;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/notebook line.png');
}

/* BACK FACE */
.back {
  transform: rotateY(180deg);
}

/* DIFFICULTY BAR */
.difficulty {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #efd9ff;
  padding: 10px 0px;
  border-radius: 0 0 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.difficulty button {
  border: none;
  width: 90px;
  padding: 6px 0;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

.easy {
  background: #b9a9ff;
  color: #fff;
}

.good {
  background: #3bb54a;
  color: #fff;
}

.hard {
  background: #b53131;
  color: #fff;
}