.container {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: "Jersey 15", sans-serif;

  background-image: url("/images/background_notebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow-y: auto;
}

.flashcardInfo {
  width: 80%;
  max-width: 1100px;
  text-align: center;
  margin-bottom: 25px;
}

.deckTitle {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 12px;
  color: var(--font-color);
}

.progressBar {
  height: 9px;
  width: 100%;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 10px;
}

.progressFill {
  height: 100%;
  background: #dba8ff;
  border-radius: 10px;
  transition: width 0.4s ease;
}

.questionCount {
  font-size: 18px;
  color: #444;
}

.flashcardWrapper {
  background: #eeeeee;
  width: 80%;
  max-width: 1100px;
  min-height: 520px;
  border-radius: 30px;
  padding: 35px 35px 25px;
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 20px;
}

.tab span {
  background-image: url("../images/notebook line.png");
  background-color: white;
  min-width: 110px;
  padding: 9px 20px;
  border-radius: 13px 13px 0 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 4px solid #dba8ff;
  cursor: pointer;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15);
}

.tab .active {
  min-width: 130px;
}

.flashcard {
  flex: 1;
  min-height: 330px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcardInner {
  width: 100%;
  height: 100%;
  min-height: 330px;
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flipped .flashcardInner {
  transform: rotateY(180deg);
}

.flashcardFace {
  position: absolute;
  inset: 0;
  padding: 55px 70px;
  border-radius: 20px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  overflow-y: auto;

  background-color: #848484a9;

  background-image: url("/images/notebook line.png");
  background-size: 100% 40px;
  background-repeat: repeat-y;
  background-position: top left;
}


.flashcardFace p {
  max-width: 850px;
  margin: 0;
  color: var(--font-color);
  font-size: 23px;
}

.back {
  transform: rotateY(180deg);
}

.difficulty {
  display: flex;
  justify-content: center;
  gap: 22px;
  background: #efd9ff;
  padding: 16px 20px;
  border-radius: 0 0 22px 22px;
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
}

.difficulty button {
  width: 100px;
  padding: 8px 0;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
}

.easy {
  background: #8376be;
  color: #fff;
  border: 1px solid #6c2d9a;
  box-shadow: 0px 4px 0 #6f63a8;
}

.good {
  background: #3bb54a;
  color: #fff;
  border: 1px solid #0f4a16;
  box-shadow: 0px 4px 0 #0f701c;
}

.hard {
  background: #b53131;
  color: #fff;
  border: 1px solid  #811d1d;
  box-shadow: 0px 4px 0  #821919;
}

.easy:hover {
  background: #9789d8;
  transform: translateY(-2px);
  box-shadow: 0px 6px 0 #6f63a8;
}

.good:hover {
  background: #4dcb5d;
  transform: translateY(-2px);
  box-shadow: 0px 6px 0 #0f701c;
}

.hard:hover {
  background: #cf4444;
  transform: translateY(-2px);
  box-shadow: 0px 6px 0 #821919;
}

.difficultyHint {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #5f5f5f98;
}