:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background: #d8c8ff;
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Jersey 15", sans-serif;

}

.hero {
  padding-top: 160px; /* space below navbar */
}


.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* BACKGROUND IMAGE */
.background {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    background: url('/images/background.png') no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* CONTAINER WITH BORDER RADIUS */
.container {
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    position: relative;
    border-radius: 25px;
    border: 3px solid #c3a6ff;

    overflow: visible; 
}


/* ===== NAVBAR ===== */
.navbar {
    width: 90%;
    height: 90px;

    background: rgba(54, 48, 138, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    justify-content: center; 

    gap: 80px; 
    width: 140vh;
    margin: 70px auto;

    border-radius: 50px;

    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

/* ===== LOGO ===== */
.logo img {
    height: 100px;
    width: auto;
}

/* ===== NAV LINKS ===== */
.nav-links {
    justify-content: center; 
    list-style: none;
    display: flex;
    gap: 40px;

    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);

    transition: transform 0.15s ease, opacity 0.15s ease;
}

.nav-links a:hover {
    transform: scale(1.06);
    opacity: 0.75;
}

/* Click animation */
.nav-links a:active {
    transform: scale(0.92);
}

/* ===== ACTIONS  ===== */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 18px;

    font-family: "Jersey 15", sans-serif;
    font-size: 25px;
}

.nav-actions .login {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.nav-actions .login:hover {
    transform: scale(1.06);
    opacity: 0.75;
}

.nav-actions .login:active {
    transform: scale(0.92);
}

/* ===== START BUTTON ===== */
.start-btn {
    padding: 10px 26px;
    background: white;
    color: var(--color-third);
    border: none;
    border-radius: 25px;

    font-family: "Jersey 15", sans-serif;
    font-size: 20px;

    cursor: pointer;

    box-shadow: 0 4px 0 var(--color-secondary);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.start-btn:hover {
    transform: scale(1.05);
}

.start-btn:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--color-secondary);
}


.hero-bg {
    width: 100%;
    display: block;
}

.hero-content {
    position: absolute;
    top: 26%;
    width: 100%;
    text-align: center;
}

.study-secret {
    color: #775bba;
    font-size: 20px;
}

.hero-content h1 {
    color: #775bba;
    font-size: 55px;
    margin-top: 5px;
    line-height: 60px;

    font-style: normal;
    font-weight: normal;
    font-family: "Jersey 15", sans-serif;
}

.sub {
    font-size: 20px;
    color: #775bba;
    margin-top: 10px;
}

.press-start {
    margin-top: 25px;
    padding: 12px 32px;
    background: white;
    border-radius: 13px;
    border: none;
    font-size: 18px;
    cursor: pointer;

    padding: 10px 26px;
    background: white;
    color: var(--color-third);
    border: none;
    border-radius: 25px;

    font-family: "Jersey 15", sans-serif;
    font-size: 20px;

    cursor: pointer;

    box-shadow: 0 4px 0 var(--color-secondary);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.press-start:hover {
    transform: scale(1.05);
}

.press-start:active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--color-secondary);
}

.cloud-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    z-index: 5;
    pointer-events: none;
    margin-bottom: -120px;
}

.cloud-img {
    width: 100%;
    display: block;
}

.cloud-bottom-fade {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 240px;
        margin-bottom: -120px;


    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        rgba(220,195,245,0.4) 30%,
        rgba(205,175,235,0.75) 65%,
        #A993D8 100%
    );

    z-index: 6;
    pointer-events: none;
}


/* FEATURES SECTION */
.features {
    padding: 180px 100px 80px;

    background: linear-gradient(
        to bottom,
        #A993D8 0%,
        #B7A4DE 48%,
        #A597D5 85%,
        #D4D0E1 95%,
        #F8F6FB 100%
    );
}

.feature {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 90px;
    position: relative;
}

.feature.reverse {
    flex-direction: row-reverse;
}

.frame {
    width: 750px;
}

.text h2 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 8px;

    font-weight: normal;
    font-family: "Jersey 15", sans-serif;

}

.text p {
    width: 380px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
}

.sparkle {
    width: 35px;
    position: absolute;
    left: -40px;
    top: 50%;
}


/* LIBRARY SECTION */
.library {
    position: relative;
    text-align: center;
    height: 380px;
    overflow: hidden;
}

.library::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;

    background: linear-gradient(
        to bottom,
        #F8F6FB 0%,
        rgba(248,246,251,0.85) 30%,
        rgba(248, 246, 251, 0.102) 60%,
        rgba(248,246,251,0) 100%
    );

    z-index: 2;
    pointer-events: none;
}


.library-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.library::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 1;
}

.library-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

.library-content h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;

    font-weight: normal;
}

.start-now {
    padding: 10px 26px;
    background: white;
    color: var(--color-third);
    border: none;
    border-radius: 25px;

    font-family: "Jersey 15", sans-serif;
    font-size: 20px;

    cursor: pointer;

    box-shadow: 0 4px 0 var(--color-secondary);

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.start-now :hover {
    transform: scale(1.05);
}

.start-now :active {
    transform: translateY(3px);
    box-shadow: 0 1px 0 var(--color-secondary);
}

/* FOOTER */

.footer {
    background-color: #A993D8;
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 18px;

    font-style: normal;
    font-weight: normal;
    font-family: "Jersey 15", sans-serif;
}

.footer-menu {
    margin-bottom: 15px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    transition: 0.3s;
    font-size: 20px;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    background: white;
    color: #A993D8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    background: #ffe6f2;
    transform: scale(1.1);
}

.sub-footer {
    background-color: white;
    color: rgb(170, 169, 169);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-family: "Jersey 15", sans-serif;   
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 18px;
        gap: 15px;
        border-radius: 28px;
        top: 10px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
        font-size: 18px;
    }

    .nav-actions {
        font-size: 18px;
    }

    .start-btn {
        font-size: 18px;
        padding: 8px 18px;
    }

    .logo img {
        height: 70px;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 20px;
        font-size: 20px;
        justify-content: center;
    }

    /* HERO TEXT */
    .hero-content {
        top: 30%;
        padding: 0 20px;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .sub {
        font-size: 16px;
    }

    /* FEATURES STACK */
    .features {
        padding: 120px 20px 60px;
    }

    .feature {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .feature.reverse {
        flex-direction: column;
    }

    .frame {
        width: 100%;
    }

    .text p {
        max-width: 100%;
    }

    /* LIBRARY SECTION */
    .library-content h2 {
        font-size: 26px;
    }

    /* FOOTER */
    .footer-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 1024px) {

    .feature {
        gap: 30px;
    }

    .frame {
        width: 60%;
    }

    .text p {
        max-width: 100%;
    }

    .features {
        padding: 150px 40px 60px;
    }

    .hero-content {
        top: 28%;
    }

}

