:root {
    --color-primary: #EBD3FA;
    --color-secondary: #E3AADD;
    --color-third: #C8A8E9;
    --color-fourth: #A993D8;
    --color-fifth: #C3C7F3;
    --font-color: #2F2F2F;
    --card-color1: #C8BBD0;
    --card-color2: #E0BBD4;
     --card-color3: #C3C7F3;
     --card-color4: #90F897;
    --card-color5: #CF8686;
     --card-color6: #EECB99;
     --color-shadow: #DDDDDD;
}

html, body {
    margin: 0;
    padding: 0;
    height: auto;
    overflow-y: auto;
    font-family: "Jersey 15", sans-serif;

}

body,
body :where(:not(i):not(svg):not(path):not([class^="fa"]):not([class*=" fa-"]):not([class^="bx"]):not([class*=" bx-"])) {
    font-family: "Jersey 15", sans-serif !important;
}

.swal2-popup,
.swal2-popup .swal2-title,
.swal2-popup .swal2-html-container,
.swal2-popup .swal2-actions,
.swal2-popup .swal2-text,
.swal2-popup .swal2-content {
    text-align: center !important;
}

.swal2-html-container,
.swal2-text,
.swal2-content {
    margin: 0 auto !important;
}

.swal2-html-container p,
.swal2-text p,
.swal2-content p {
    margin: 0 auto !important;
    text-align: center !important;
}

